@import url("https://fonts.google.com/fonts/nimvus = swap");

*{
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.autoplay{
  content: 'mute';
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  font-size: -12px;
  margin-left: 1000px;
  bottom: 570px;

}
body {
  stroke-linecap: butt;
  width: 72vw;
  height: 100vh;
  padding: 1rem;
  background-image: url("./Goz.gif") ;
  background-size: cover;
  display: flex;
  align-items: center;
  font-weight: 700;
  justify-content: center;
  font-size: 32px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
a{
  position: absolute;
  top: -20%;
}
.background img{
  position: absolute;
  transform: rotate(180deg);
  left: 39.10%;
  top: -227px;
  border-radius: 5px;
  z-index: -8;
}
.foregrab{
  position: absolute;
  transform: rotate(60deg);
  left: 10%;
  top: -400px;
  border-radius: 5px;
  z-index: -8;
}
.autoplay span{
  position: absolute;
  font-size: 16px;
  color: whitesmoke;
  font-family: monospace;
  filter: brightness(125deg);
  left: 77px;
  opacity: 120%;
  z-index: 4;
  transform: translateY(-2px);

}
.splash-content img{
 position: absolute;
 z-index: 3;
 transform: translateY(119px);
 filter: opacity(10%);
 border-radius: 5px;
 left: 27%;
}
.clock{
  color: red;
}
span#display{
  line-height: 1;
  font-weight: 300;
  margin: 20px 0 6px -30px;
  position: absolute;
  color: transparent;
  left: 881px;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  animation: reverse;
  bottom: -7%; 
}
video{
    display: flex;
    overflow-anchor: auto;
    position: absolute;
    transform: translateY(-1200px);
    bottom: 60px;
    right: 0;
    src: format(no-repeat);
    animation-duration: infinity inherit;
}
.icons{
  background: linear-gradient(135deg, goldenrod, gold, orange, -1px purple);
  -webkit-background-clip: text;
    background-clip: border-box;
    -webkit-text-fill-color: transparent;
    animation: animate 1.5s linear infinite;
}
@keyframes animate {
    100%{
        filter: hue-rotate(360deg);
        fill-opacity: 1;
        filter: brightness(71deg);
    }
}
#slot.inverted .icons{
  animation: none;
  filter: none;
}
.money img{
  position: absolute;
  z-index: 3;
  margin-top: 265pt;
  font-size: 8px;
  left: 369px;
  transform: translateY(267px);
}
.money img:hover{
  display: flex;
  transition: 13s ease;
  transform: rotateX(-5deg);
}
.bdog img{
  position: absolute;
  transform: translateX(-410px);
  top: 167px;
  border-radius: 5px;
}
@media only screen and (max-width: 1300px) {
  body {
    background-image: url("./boavu.jpg");
  }
}
.grid img{
  position: absolute;
  display: flex;
  align-items: center;
  transform: translateX(140px);
  z-index: -2;
  bottom: -9.14%;
  flex-wrap: wrap;
}
#img{
  display: grid;
}
#reels {
  cursor: progress;
  pointer-events: none;
  transform: translateX(170px);
  border-radius: 5px;
  display: flex;
  width: 100vw;
  height: calc((3 / 5) * 100vw);
  max-height: calc(90vh - 100px - 40px);
  max-width: calc((5 / 3) * (90vh - 0px - 40px));
}
.reel {
  border-radius: 5px;
  overflow: hidden;
  width: 20%;
  height: 100%;
}
.reel > .icons > img {
  border-radius: 5px;
  width: calc(100% + 6px);
  margin: -3px 0 -5px -3px;
  height: auto;

  /* enable gpu accelaration, fixes iOS flicker */
  transform: translate3d(0, 0, gold);
}
#controls {
  transform: translateX(170px);
  background-color: transparent;
  backdrop-filter: blur(20px);
  padding-top: 135px;
  border: none;
  margin-bottom: -230px;
  outline: none;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 30px;
  border-radius: 5px;
}
#controls label {
  display: flex;
  justify-content: center;
  margin: 0;
}
input#autoplay{
  position: absolute;
  right: 200px;
  pointer-events: none;
  display: none;
}
#controls label input#SPINS{
  cursor: default;
  pointer-events: none;
  width: 20%;
  height: 40px;
  position: absolute;
  background: red;
  transform: translateX(200px);
}
#controls label input#SPINS::-webkit-inner-spin-button{
  display: none;
}
.min-play p{
  position: absolute;
  transform: translateX(19px);
  display: none;
}
input::focus{
  color: red;
}
label{
  line-height: 1;
  font-weight: 300;
  margin: 20px 0 6px -30px;
  transform: translateX(-30px);
  color: red;
}
p{
  line-height: 1;
  font-weight: 300;
  margin: 20px 0 6px -30px;
  content: "FREE SPINS";
  color: whitesmoke;
  text-transform: uppercase;
  position: relative;
  bottom: -160px;
  transform: translateX(600px); 
}
input[type="checkbox"] {
  width: 20px;
  height: 40px;
}
#jackpot {
  line-height: 1;
  font-weight: 300;
  font-size: 40px;
  text-align: center;
  margin-bottom: 23px;
}
span#jp{
  position: sticky;
  text-decoration: underline;
  text-decoration-line: underline;
  text-decoration-color: red;
  text-wrap: wrap;
  margin: 20px 0 6px -30px;
  font-weight: 600;
  opacity: 100%;
  font-size: 40px;
  font-family: ravie;
  text-align: center;
  margin-left: 20%;
  z-index: 1;
  transform: translateY(100px);
  color: cadetblue;
}
#slot.inverted .reel {
  transform: scaleY(-1);
}
#slot.inverted .reel > .icons > img {
  transform: scaleY(-1);
}
button{
  line-height: 0;
  margin: 20px 0 6px -30px;
  background-color: transparent;
  color: lime;
  font-size: 67px;
  font-weight: 500;
  transform: translateX(-30px);
  transform: translateY(-10px);
  border-color: red;
  border-radius: 7px;
  accent-color: none;
  transition:  0.5s linear ease;
  outline: none;
} 
button:hover{
    cursor: pointer;
    transition: 13s ease-in-out;
    transform: rotateX(-45deg);
}
button:focus{
  text-decoration: none;
  display: none;
}
.echo button{
  display: none;
}
abbr{
  line-height: 1;
  font-weight: 300;
  margin: 20px 0 6px -30px;
  content: "FREE SPINS";
  color: Red;
  text-transform: uppercase;
  position: absolute;
  bottom: -170px;
  transform: translateX(630px);
}
